@media only screen and (max-width: 992px) {
  .skills-programms {
    width: 100vw;
  }
  .wrapper {
    width: 100%;
    padding: 10px 50px;
  }
  .mainphoto {
    width: 100%;
    height: 15em;
  }
}

@media only screen and (max-width: 768px) {
  .header__burger {
    display: block;
  }

  .header__border {
    display: none;
  }

  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }
  .header__nav_active {
    transform: translateX(0);
  }
  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__link {
    font-size: 42px;
    line-height: 48px;
  }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  .header__nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
  }
  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
