:root {
  --main-black: #070707;
}

.black {
  color: var(--main-black);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-black);
}

.wrapper {
  width: 945px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: var(--main-black);
}
