:root {
  --main-black: #070707;
}

.black {
  color: var(--main-black);
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-black);
}

.wrapper {
  width: 63vw;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  font-size: 20px;
  margin-bottom: 50p;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: inherit;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: normal;
  margin-top: 30px;
  font-size: 1.2em;
}

.header__link {
  text-decoration: none;
  color: #828282;
}

.first-li {
  color: var(--main-black);
  font-weight: bold;
}

.div__border {
  margin-top: 30px;
  border: 1px solid #828282;
}

h1 {
  font-size: 200%;
  font-weight: bold;
}

.header__bio {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: normal;
}
.bio-name {
  font-size: 1.2em;
}
.bio-speciality {
  font-size: 1.2em;
  margin-top: auto;
}
.bio-language {
  margin-top: auto;
  transform: translate(20px, -20px);
  font-size: 0.95em;
}
.eng {
  transform: rotate(-90deg);
  color: var(--main-black);
}
.ru {
  margin-top: 15px;
  transform: rotate(-90deg);
  color: #828282;
}

.about-me {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.block {
  height: 400px;
  background-color: #f6f6f6;
  margin-top: 80px;
  width: 100%;
}

.ph {
  text-align: center;
  width: 30vw;
}

.mainphoto {
  width: 63vw;
  height: 50vh;
  object-fit: cover;
}

.skills.block {
  background: #fff;
}
.skills {
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.skills-programms {
  display: flex;
  width: 63vw;
  justify-content: space-between;
}

.star {
  margin-top: 1vh;
  /* width: 26px; */
  height: 26px;
}

.game-img {
  color: #828282;
  text-align: center;
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-bottom: 1vh;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.game-stars {
  display: flex;
  gap: 10px;
}