:root {
  --main-black: #070707;
}

.black {
  color: var(--main-black);
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-black);
}

.wrapper {
  width: 63vw;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  font-size: 20px;
  margin-bottom: 50px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: inherit;
}
.header__nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.header__language {
  display: none;
}

.header__list {
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: normal;
  font-size: 1.2em;
  width: 63vw;
}

.header__burger {
  display: none;
  width: 25px;
  height: 15px;
  position: fixed;
  right: 20px;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #070707;
  position: absolute;
  left: 0;
}
.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}
.text {
  font-weight: 500;
}

.header__link {
  text-decoration: none;
  color: var(--main-black);
}

.header__border {
  border: 1px solid #828282; 
}

h1 {
  font-size: 200%;
  font-weight: bold;
}

.header__bio {
  margin-top: 110px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: normal;
}
.bio-name {
  font-size: 1.2em;
  margin-right: 20px;
}
.bio-speciality {
  font-size: 1.2em;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio-language-eng {
  margin-top: 25px;
  transform: rotate(-90deg);
  color: var(--main-black);

}
.bio-language-ru {
  margin-top: 15px;
  transform: rotate(-90deg);
  color: #828282;
}

.about-me {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  justify-content: center;
  padding: 0 15px;
}
.block {
  height: 400px;
  background-color: #f6f6f6;
  margin-top: 80px;
  width: 100%;
}

.about-me.text {
  text-align: center;
  width: 60%;
}

.mainphoto {
  width: 63vw;
  height: 60vh;
  object-fit: cover;
}

.skills.block {
  background: #fff;
}
.skills {
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.skills-programms {
  display: flex;
  width: 63vw;
  justify-content: space-around;
}

.star {
  margin-top: 1vh;
  /* width: 26px; */
  height: 20px;
}

.game-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  margin-bottom: 1vh;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #828282;
  text-align: center;
}
.game-stars {
  display: flex;
  gap: 10px;
}
.portfolio-block {
  background-color: #f6f6f6;
  margin-top: 80px;
  width: 100%;
}
.portfolio-h1 {
  margin-top: 80px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}
.contacts.block {
  background-color: #fff;
}
.contacts {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacts.text {
  text-align: center;
  width: 100%;
}
.contacts.h1 {
  margin-bottom: 25px;
  font-size: 200%;
  font-weight: bold;
}
.contacts-button {
  margin-top: 25px;
}
.contacts__links {
  margin-top: 80px;
}
.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 22vw;
}
.contacts-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-bottom: 1vh;
}
.contacts__links-text {
  margin-top: 10px;
  font-size: 15px;
  color: #828282;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.contacts-button {
  background-color: var(--main-black);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  border-radius: 50px;
  text-decoration: none;
}
.photo {
  display: flex;
  justify-content: center;
}
